.footer
    a.footer_logo(href='#')
        img.footer_logo__img(src='images/logo.png')
    .footer__btn-wrap
        .footer__btn CHOOSE A PLAN
        .footer__btn TRY FOR FREE
    .footer_menu
        a.footer_menu__item(href='#ABOUT') ABOUT
        a.footer_menu__item(href='#REVIEWS') REVIEWS
        a.footer_menu__item(href='#FEATURES') FEATURES
        a.footer_menu__item(href='#PRICES') PRICES
        a.footer_menu__item(href='#SUPPORT') SUPPORT