.footer
  display: flex
  flex-direction column
  justify-content center
  align-items center
  width 100%
  padding 5px 5px 30px
  background linear-gradient(to top, #5DDDD3 0%, #5ae4c4 36%, #48e4a0 100%)
  &_logo
    margin 40px
    &__img
      width 140px
      height auto
  &__btn
    display inline-block
    width 200px
    margin 25px 15px
    padding 15px 10px
    box-sizing border-box
    font-size 18px
    text-align center
    color #EAEDF1
    text-transform uppercase
    text-decoration none
    border 1px solid
    transition all 1s ease
    &:hover
      color #5DDDD3
      background-color #EAEDF1
      border none
    &-wrap
      margin-bottom 50px
  &_menu__item
    margin-right 15px
    padding 7px 0
    font-size 15px
    color #ffffff
    text-transform uppercase
    text-decoration none
    &:hover
      border-bottom 1px solid
@media all and (max-width: 465px)
  .footer
    &__btn
      width 90%
      margin 10px 20px
    &_menu__item
      font-size: 12px