.plan
  padding 100px 10px
  background linear-gradient(to right, #eee, #E4E4F5)
  &_title
    margin-bottom 50px
    font-weight 900
    font-size 36px
    line-height 66px
    text-align center
    color #222323
    opacity 0.76
  &_item
    width 270px
    margin 0 2%
    padding 30px 5px
    box-sizing border-box
    border 1px solid c_dark
    border-radius 5px
    transition-duration time_trans
    &__prise
      font-weight 900
      font-size 34px
      color #FFFFFF
      opacity 0.95
      &-wrap
        display flex
        justify-content center
        align-items center
        width 110px
        height 110px
        margin 0 auto
        text-align center
        border-radius 50%
        &--dark
          background linear-gradient(-45 deg, c_dark 50%, rgba(102,102,102,0.8) 50%)
        &--blue
          background linear-gradient(-45 deg, c_blue  50%, rgba(25,145,161, .8) 50%)
        &--orange
          background linear-gradient(-45 deg, c_orange 50%,rgba(255,186,27,.8) 50%)
    &:hover
      transform scale(1.14) translateY(28px)
    &-wrap
      display flex
      flex-direction row
      justify-content center
    &__name
      margin 30px 5px
      font-weight 700
      font-size 26px
      text-align center
      color #AC0000
    &__description
      font-weight 200
      font-size 19px
      line-height 24px
      text-align center
      color #000000
      opacity 0.8
    &__btn
      display block
      width 115px
      margin 30px auto
      padding 15px 5px
      font-size 18px
      text-align center
      text-transform uppercase
      text-decoration none
      border 1px solid
      opacity 0.8
      transition-duration time_trans
      &:hover
        color #ffffff
        border none
      &--darck
        color c_dark
        &:hover
          background c_dark
      &--orange
        color c_orange
        &:hover
          background c_orange
      &--blue
        color c_blue
        &:hover
          background c_blue
    &--darck
      border-color c_dark
    &--orange
      border-color c_orange
    &--blue
      border-color c_blue
@media all and (max-width: 790px)
  .plan_item
    margin 2%
    &-wrap
      flex-direction column
      align-items center
    &:hover
      transform: scale(1.1)



