

w_lg = 1200px
w_md = 990px
w_sm = 768px
w_xs = 460px

c_orange = #FFBA1B
c_blue = #1991A1
c_turquoise = #5DDDD3
c_crimson = #EC4B53
c_dark = #828282
c_gray-text-light = #a3a3a3
c_gray-text = #000
c_timeline = #75ff21

my_fonts = OpenSans
my_fonts_1 = Myriad Pro
my_fonts_2 = Raleway


